<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Template</title>
		<link rel="stylesheet" href="style.css">
		<meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
		<link rel="icon" type="image/x-icon" href="favicon.ico"> <!-- For now the Favicon will just be the microsoft logo -->
	</head>
<header>
    <h1></h1>
    <br>
    <nav><a href="INDEX.HTML" class="active">PLACEHOLDER</a> |   <a href="PARKS.HTML">PLACEHOLDER</a> |   <a href="WILDLIFE.HTML">PLACEHOLDER</a> |   <a href="CONTACT.HTML">PLACEHOLDER</a></nav>
</header>

<main>
  <article>

  </article>
  <hr>
  <article>

  </article>

  <aside>

  </aside>

  <footer>
    
  </footer>

</main>
</html>