  /* The div you want to push to the right */
  .right-box {
    float: right;
    width: 150px;
  }

  /* Clears the float so subsequent content doesn't break */
  .clearfix {
    clear: both;
}

nav {
    background-color: #6F4930;
    margin: 0;
    padding: 0;
}

a {
    text-decoration-color: #FFFFFF;
    color: #FFFFFF;
}

a:hover {
    text-decoration-color: #C56C39;
    color: #FFFFFF;
}

body {
    background-color: #ebe5e1;
    background-image: url(pattern.JPEG);
    background-blend-mode: multiply; 
}

.logo {
    height: 60px;
    display: flex;
    float: left;
}

span {
    font-weight: bold;
}