body {
    background-color:  #8CAAE6;
    background-image: url(bg.jpg);
    background-blend-mode: multiply; 
    font-family: Tahoma, sans-serif;
    color: #FFFFFF;
}

h1 {
    font-family: Franklin Gothic Medium, sans-serif; /* Keep this in here even though its not working on the page */
}

nav {
    background-color: #245DDA;
    margin: 0;
    padding: 0;
}

a {
    text-decoration-color: #FFFFFF;
    color: #FFFFFF;
}

a:hover {
    text-decoration-color: #fed222;
    color: #FFFFFF;
}

.logo {
    height: 60px;
    display: flex;
    float: left;
}

span {
    font-weight: bold;
}