nav {
    background-color: #6F4930;
    margin: 0;
    padding: 0;
}

a {
    text-decoration-color: #FFFFFF;
    color: #FFFFFF;
}

a:hover {
    text-decoration-color: #C56C39;
    color: #FFFFFF;
}

body {
    background-color: #ebe5e1;
    background-image: url(IMG/pattern.JPEG);
    background-blend-mode: multiply; 
}

.logo {
    height: 60px;
    display: flex;
    float: left;
}

span {
    font-weight: bold;
}